---
layout: default
---
{% for post in paginator.posts %}
	<div id="post">
	{% case post.layout %}
	{% when 'link' %}
	<h2 class="entry-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
	<div class="entry-type">
	<a href="{{ post.url }}"><img src="/images/link.gif"></a>
	</div>
	<div class="entry-content">
	{% when 'youtube' %}
	<div class="entry-type">
	<a href="{{ post.url }}"><img src="/images/video.gif"></a>
	</div>
	<div class="entry-content">
	<object width="500" height="305"><param name="movie" value="http://www.youtube.com/v/{{ post.youtube }}&amp;rel=0&amp;egm=0&amp;showinfo=0&amp;fs=1"></param><param name="wmode" value="transparent"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/{{ post.youtube }}&amp;rel=0&amp;egm=0&amp;showinfo=0&amp;fs=1" type="application/x-shockwave-flash" width="500" height="305" allowFullScreen="true" wmode="transparent"></embed></object>
	{% else %}
	<h2 class="entry-title">{{ post.title }}</h2>
	<div class="entry-type">
	<a href="{{ post.url }}"><img src="/images/{{ post.layout }}.gif"></a>
	</div>
	<div class="entry-content">
	{% endcase %}
	{{ post.content }}
	</div>
  	<p align="right" class="small">
    	&mdash; <a href="{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
  	</p>
	</div>
{% endfor %}
	<div id="pagenav">
		<div class="inside">
			{% if paginator.previous_page == 1 %} 
			<a id="forward" href="/">Anterograde&nbsp;&rarr;</a>
			{% elsif paginator.previous_page %}
			<a id="forward" href="/page{{ paginator.previous_page }}">Anterograde&nbsp;&rarr;</a>
			{% endif %} 
			 <span id="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
			{% if paginator.next_page %}
			<a id="back" href="/page{{ paginator.next_page }}" >&larr;&nbsp;Retrograde</a>
			{% endif %}
		</div> 
	</div>