---
layout: default
---

<div id="post">
	<div class="entry-type"><a href="{{ page.url }}"><img src="/images/photo.gif" alt="Photograph"></a></div>
	<div class="entry-content">
		{{content}}
	<!-- {block:Caption}
	{Caption}
	{/block:Caption} -->
	<!-- <br /><br />{block:RebloggedFrom}<span class="small">Reblogged from <a href="{ReblogParentURL}">{ReblogParentTitle}</a>.</span>{/block:RebloggedFrom} -->
			<!-- {block:HasTags}<div class="tags">Tags: {block:Tags}<a href="{TagURL}" class="tag">{Tag}</a>{/block:Tags}</div>{/block:HasTags} -->
			</div>
			<p align="right" class="small">
		    	&mdash; <a class="permalink" href="{{ page.url }}">{{ page.date | date: "%B %d, %Y %I:%M%p" }}</a>
		  	</p>
</div>
<div id="pagenav">
<div class="inside">
	{% if page.next %}
	<a id="forward" href="{{ page.next.url }}" title="View {{ page.next.title }}">Anterograde&nbsp;&rarr;</a>
	{% endif %}
	<span id="pages">~</span>
	{% if page.previous %}
	<a id="back" href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&larr;&nbsp;Retrograde</a>
	{% endif %}
</div>
</div>